.c-dropdown {
  display: inline-block;
  position: relative;
}

.c-dropdown__target {
  display: inline-block;
}

.c-dropdown__content {
  display: none;
  box-shadow: $drop-shadow;
  position: absolute;
  border: 1px solid $border-color-light;
  left: auto;
  background: $background-color;
  margin-top: -1px;
  min-width: max-content;
  border-radius: $border-radius-medium;
  padding: $gutter-width-tiny 0;
}
.c-dropdown__content::after,
.c-dropdown__content::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: transparent;
  border-width: 0 $gutter-width-extra-small $gutter-width-extra-small;
  border-style: solid;
  border-bottom-color: #ffffff;
  transform: translateX(-50%) translateY(2px);
}
.c-dropdown__content::before {
  border-width: 0 $gutter-width-extra-small $gutter-width-extra-small;
  border-style: solid;
  border-bottom-color: $border-color-light;
  transform: translateX(-50%) translateY(0);
}
.c-dropdown__alight-right_content {
  right: 0;
}
.c-dropdown:hover .c-dropdown__content {
  display: block;
}

.c-dropdown ul {
  padding-left: 0;
}
.c-dropdown li {
  list-style: none;
}
.c-dropdown__item {
  display: block;
  border-bottom: $border-color-light;
}
.c-dropdown__item:hover,
.c-dropdown__item:focus {
  background-color: $grey-extra-lightest;
}
.c-dropdown__item:active {
  background-color: $grey-lightest;
}
.c-dropdown__item:last-child {
  border-bottom: none;
}
.c-dropdown__link.c-dropdown__link {
  display: block;
  color: $font-color-light;
  border-bottom: 1px solid $border-color-light;
  line-height: 1rem;
}
.c-dropdown__link:hover,
.c-dropdown__link:active {
  display: block;
  color: shade($font-color-light, 50);
}
