.c-reveal {
  position: relative;
}

.c-reveal__content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(61, 64, 69, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  z-index: 1;
}
.c-reveal:hover .c-reveal__content {
  opacity: 1;
}

.c-reveal:hover .c-reveal__children {
  filter: blur(5px);
  z-index: 0;
}