.c-content {
  max-width: $breakpoint-large;
  padding: $gutter-width $gutter-width-large;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  line-height: initial;
}

.c-content_max-width-small {
  max-width: $breakpoint-small;
}

.c-content_max-width-medium {
  max-width: $breakpoint-medium;
}

.c-content_max-width-extra-large {
  max-width: $breakpoint-extra-large;
}

.c-content.is-separated {
  box-shadow: 0 1px 0 0 $border-color-light;
  min-height: 1px;
}


.c-content > :last-child:not(.c-content) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.c-content > :first-child:not(.c-content) {
  margin-top: 0;
  padding-top: 0;
}

.c-content_size-small {
  padding: $gutter-width-small $gutter-width-small;
}

.c-content_size-medium {
  padding: $gutter-width $gutter-width;
}

.c-content_size-tiny {
  padding: $gutter-width-extra-small;
}

.c-content_size-extra-tiny {
  padding: $gutter-width-tiny;
}

.c-content_size-none {
  padding: 0 !important;
}

.c-content_size-large {
  padding: $gutter-width-extra-large * 2;
}

.c-content_size-extra-large {
  padding: $gutter-width-extra-extra-large * 2;
}

.c-content_breakpoint-small {
  max-width: $breakpoint-extra-large - ($gutter-width-large * 2);
}

.c-content_list-item:last-child {
  border-bottom: none;
}

.c-content.is-inverted { 
  background: $background-color-inverted;
}

// Modifiers
.c-content_not-bottom {
  padding-bottom: 0 !important;
}
.c-content_not-right {
  padding-right: 0 !important;
}
.c-content_not-left {
  padding-left: 0 !important;
}
.c-content_not-top {
  padding-top: 0 !important;
}

.c-content_only-top {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

.c-content_exclude-top {
  padding-top: 0 !important;
}

.c-content_only-bottom {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.c-content_exclude-bottom {
  padding-bottom: 0 !important;
}

.c-content_fluid {
  max-width: initial !important;
}

.c-content_no-padding-bottom {
  padding-bottom: 0 !important;
}

.c-content_only-horizontal {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.c-content_only-vertical {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.c-content_only-right {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.c-content_only-left {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
.c-content.is-inline {
  display: inline;
}
@media only screen and (max-width: $breakpoint-small) {
  .c-content {
    padding: $gutter-width;
  }
  .c-content_size-tiny {
    padding: $gutter-width-tiny $gutter-width-extra-small;
  }
  .c-content_size-small {
    padding: $gutter-width-small $gutter-width-extra-small;
  }
  .c-content_size-large {
    padding: $gutter-width-extra-extra-large;
  }
  .c-content_size-extra-large {
    padding: $gutter-width-extra-large;
  }
}