.c-card {
  width: 100%;
  max-width: breakpoint('large');
  margin: 0 auto $gutter-width-large;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow-bordered;
  background-color: $card-background-color;
	box-sizing: border-box;
	overflow: hidden;
}

.c-card_inset {
	box-shadow: $box-shadow-inset;
}
.c-card.js-active {
  border-color: $brand-primary;
}

.c-card_large {
  max-width: breakpoint('extra-large');
}

.c-card_huge {
  max-width: breakpoint('huge');
}

.c-card_fluid {
  max-width: inherit;
}

.c-card_as-link {
  color: $font-color;
}

.c-card_as-link:hover,
.c-card_as-link:focus {
  background-color: $grey-extra-lightest;
}

.c-card_as-link:active {
  background-color: $grey-lightest;
}

.c-card_bordered {
  box-shadow: none;
  margin-bottom: 0;
  border-radius: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: $background-color-shade-light;
}

.c-card_bordered-content {
  box-shadow: $box-shadow-inset;
}

.c-card_bordered > *,
.c-card_bordered-content > * {
  border-bottom: 1px solid $border-color-light;
}

.c-card_bordered > *:last-child,
.c-card_bordered-content > *:last-child {
  border-bottom: 0;
}

.c-card_scale-down {
	transform: scale(.9);
}

@media only screen and (max-width: $breakpoint-small) {
  .c-card {
    margin-bottom: $gutter-width;
  }
  
  .c-card_bordered {
    margin-bottom: 0;
  }
}