.c-modal__portal {
  width: 100%;
  position: fixed;
  align-self: center;
  z-index: z(modalBackdrop);
}

.c-modal {
  z-index: z(modal);
  position: inherit;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: $gutter-width-small;
  box-sizing: border-box;
}

.c-modal__content {
  transform: translateY(-100px);
  transform-origin: 50% 20%;
  transition-property: transform, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  min-width: 200px;
  max-width: 800px;
  height: 100%;
  max-height: max-content;
  width: 100%;
  margin: auto auto 0;
  overflow: overlay;
  border-radius: $border-radius-medium;
  background: white;
}

.c-modal_small_content {
  max-width: 420px;
}

.c-modal_large_content {
  max-width: 800px;
}

.c-modal_x-large_content {
  max-width: 1200px;
}

.c-modal__content:focus {
  outline: 0;
}

/**
 * Transitions
 */
.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
body.ReactModal__Body--open {
  color: inherit;
  max-height: 100%;
  overflow: hidden;
}
.ReactModal__Overlay {
  transition: opacity 0.15s ease-out;
}

.ReactModal__Overlay--after-open.c-modal {
  opacity: 1;
}

.ReactModal__Overlay--after-open .c-modal__content {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close.c-modal {
  opacity: 0;
}

.c-modal_position-left {
  padding: 0;
  align-items: flex-start;
  width: 40%;
  background: none;
}

.c-modal_position-left .c-modal__content {
  margin-top: 0;
  margin-left: 0;
  max-width: 100%;
}
