.c-add-on-wrapper {
  display: inline-table;
  width: 100%;
}
.c-add-on {
  display: table-cell;
  padding-right: $gutter-width-tiny;
  padding-left: $gutter-width-tiny;
  line-height: 1em;
  font-size: $font-size-medium;
  width: 1%;
}

.c-add-on_no-start-padding {
  padding-left: 0;
}
.c-add-on_one-line {
	padding: 0;
	vertical-align: middle;
}