$c-alert-padding: $gutter-width-extra-small $gutter-width-small / 2;
$c-alert-margin-bottom: $gutter-width-extra-small;

.c-alert {
	width: 100%;
  margin-bottom: $c-alert-margin-bottom;
  background: white;
  border-radius: $border-radius-medium;
	border: 1px solid $grey;
	box-sizing: border-box;
}

.c-alert__content-wrapper {
	display: inline-table;
}

.c-alert:first-of-type {
  margin-top: $gutter-width;
}

.c-alert:last-of-type {
  margin-bottom: 0;
}

.c-alert__add-on {
  display: table-cell;
  stroke: white;
  fill: none;
  width: 1%;
  background: $border-color;
  padding: $gutter-width-extra-small $gutter-width-small / 2
    $gutter-width-extra-small - 1;
  border-top-left-radius: $border-radius-medium;
  border-bottom-left-radius: $border-radius-medium;
  vertical-align: middle;
}

.c-alert__add-on-icon {
	stroke: $font-color;
}

.c-alert__add-on .c-alert__add-on-icon-svg {
  margin-bottom: -1px;
}

.c-alert__close {
  display: table-cell;
  fill: none;
  width: 1%;
  padding: $gutter-width-extra-small $gutter-width-small / 2
    $gutter-width-extra-small - 1;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
  border-left: 1px solid $border-color;
}
.c-alert__close:hover,
.c-alert__close:focus {
  cursor: pointer;
  background: $background-color-shade;
}
.c-alert__close:active {
  background: shade($background-color-shade, 3);
}
.c-alert__tag {
  font-size: $font-size-medium;
  color: white;
}

.c-alert__add-on .c-icon {
  vertical-align: -1px;
}

.c-alert__content {
  padding: $gutter-width-extra-small $gutter-width-small / 2;
  display: block;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
}

.c-alert__content h1:first-child,
.c-alert__content h2:first-child,
.c-alert__content h3:first-child,
.c-alert__content h4:first-child,
.c-alert__content h5:first-child,
.c-alert__content h6:first-child {
  margin-top: 0;
}

.c-alert__value {
	font-size: $font-size-medium;
	margin-bottom: 0;
}

.c-alert__sub {
  display: block;
  font-size: $font-size-small;
}

.c-alert_with-sub .c-alert__content {
  padding-top: $gutter-width-small / 2 - 1;
  padding-bottom: $gutter-width-small / 2 - 2;
}

.c-alert_with-sub .c-alert__add-on {
  padding-top: $gutter-width-small / 2;
  padding-bottom: $gutter-width-small / 2;
}
.c-alert__level-visited .c-alert__add-on {
  background: shade($border-color, 30%);
}

.c-alert__level-warning .c-alert__add-on {
  background: $brand-warning;
}

.c-alert__level-danger .c-alert__add-on {
  background: $brand-danger;
}

.c-alert__level-info .c-alert__add-on {
  background: $brand-info;
}

.c-alert__level-success .c-alert__add-on {
  background: $brand-success;
}

.c-alert__level-warning .c-alert__add-on-icon,
.c-alert__level-danger .c-alert__add-on-icon,
.c-alert__level-info .c-alert__add-on-icon,
.c-alert__level-success .c-alert__add-on-icon {
	stroke: white;
}

.c-alert_not-intrusif {
  margin-bottom: 0;
}
.c-alert_not-intrusif .c-alert__content {
  border: none;
}

.c-alert_letter-status {
  margin-top: 0;
  height: 72px;
}

.c-alert_letter-status .c-alert__add-on {
  min-width: 25px;
}

.c-alert_letter-status .c-alert__content {
  padding: 8px;
}

.c-alert_letter-status h4,
.c-alert_letter-status .c-alert__value {
  margin-bottom: 2px;
}

.c-alert_letter-status.c-alert__level-normal h4 {
  color: $grey-darkish;
}

.c-alert.js-clickable {
  cursor: pointer;
}

@media only screen and (max-width: breakpoint('<huge')) {
  .c-alert:first-child {
    margin-top: 0;
  }
}

// Modifier: fluid
.c-alert_fluid {
	border: none;
	border-radius: 0;
	color: $font-color;
	border-bottom: 1px solid $border-color-light;
	margin-bottom: 0;
} 

.c-alert_fluid .c-alert__content-wrapper {
	display: flex;
	max-width: $breakpoint-large;
	margin: 0 auto;
	text-align: center;
}

.c-alert_fluid .c-alert__add-on {
	padding: $gutter-width $gutter-width $gutter-width $gutter-width-large;
	background: transparent;
}

.c-alert_fluid .c-alert__content {
	text-align: left;
	padding: $gutter-width $gutter-width-large $gutter-width 0;
}

.c-alert_fluid.c-alert__level-warning {
  background: $brand-warning;
}

.c-alert_fluid.c-alert__level-danger {
  background: $brand-danger;
}

.c-alert_fluid.c-alert__level-info {
  background: $brand-info;
}

.c-alert_fluid.c-alert__level-success {
  background: $brand-success;
}