.c-avatar {
  border-radius: $border-radius-medium;
  display: inline-flex;
  max-width: 48px;
  max-height: 48px;
  overflow: hidden;
  stroke-width: 1;
  fill: none;
  stroke: $icon-stroke-color;
  background: $background-color-shade;
}

.c-avatar__nickname-wrapper {
  flex-direction: column;
  padding: 0 $gutter-width-small;
  line-height: 2rem;
}

.c-avatar__nickname {
  font-size: $font-size-medium;
  text-align: center;
}

.c-avatar__very-special-icon {
  position: absolute;
  transform: translateY(-13px) translateX(-8px);
}

.c-avatar_size-large .c-avatar__very-special-icon {
  transform: translateY(-13px) translateX(-8px);
}

.c-avatar_size-small {
  width: 13px;
  height: 13px;
}
.c-avatar_size-big {
  width: 27px;
  height: 27px;
}
.c-avatar_size-big .c-avatar__nickname {
  font-size: 1rem;
}
.c-avatar_size-large {
  width: 29px;
  height: 29px;
}
.c-avatar_size-large .c-avatar__nickname {
  font-size: 1rem;
}
.c-avatar_size-full {
  width: 100%;
  height: 100%;
}
.c-avatar_inverted {
  stroke: white;
  border: 1px solid white;
}

.c-avatar__icon svg,
.c-avatar__image {
  height: 100%;
  width: 100%;
  stroke-width: 2;
}

.c-avatar__icon g,
.c-avatar__icon line,
.c-avatar__icon circle,
.c-avatar__icon path {
  vector-effect: non-scaling-stroke;
}

.js-image-error .c-avatar__image {
  display: none;
}

.c-avatar_activatable {
  border: 1px solid $icon-stroke-color-light;
  stroke: $icon-stroke-color-light;
  color: $icon-stroke-color-light;
  cursor: pointer;
}

.c-avatar_activatable.js-active,
.c-avatar_activatable:hover,
.c-avatar_activatable:focus {
  border-color: $font-color;
  stroke: $font-color;
  color: $font-color;
}

.c-avatar_activatable.js-active {
  color: white;
  stroke: white;
}

.c-avatar_activatable.js-active:hover {
  opacity: 0.7;
}
