/**
 *
 * Appearances:
 * - Primary (blue)
 * - Secondary (light grey)
 * - Danger (red)
 * - Link (appearance of a link)
 *
 * Properties
 * - Fixed width (adds min-width)
 * - Large (makes it bigger)
 *
 * States:
 * - Loading
 * - Disabled
 */

$c-button-height-tiny: 22px;
$c-button-height-small: 28px;
$c-button-height-regular: 40px;
$c-button-height-large: 44px;

// Padding is used for the sides only, so it doesn’t affect the height
$c-button-padding-tiny: $gutter-width-extra-small;
$c-button-padding-small: $gutter-width-extra-small;
$c-button-padding-regular: $gutter-width-small;
$c-button-padding-large: $gutter-width-large;

/**
 * General styles
 * Primary button
 */
.c-button {
  display: inline-block;
  border-radius: $border-radius-medium;
  background: $brand-primary;
  color: #fff;
  line-height: $c-button-height-regular - 2px;
  white-space: nowrap;
  transition: background-color 0.1s ease-out, color 0.1s ease-out,
    stroke 0.1s ease-out;
  stroke: currentColor;
  fill: none;
  font-size: $font-size-medium;
  cursor: pointer;
  padding: 0 $c-button-padding-regular;
  margin: 0 $gutter-width-extra-small 0 0;
  border: 1px solid shade($brand-primary, 12%);
	-webkit-appearance: unset;
	box-shadow: $box-shadow;
}

.c-button__icon {
  margin-left: $gutter-width-tiny;
  margin-right: $gutter-width-tiny;
  display: inline-flex;
}

.c-button_large .c-button__icon {
  margin-left: $gutter-width-extra-small;
  margin-right: $gutter-width-extra-small;
}

.c-button__icon:first-child {
  margin-left: 0;
}

.c-button__icon:last-child {
  margin-right: 0;
}

.c-button__icon.c-button__icon {
  stroke: currentColor;
}

.c-button_hover-icon:hover .c-button__icon {
  display: none;
}

.c-button_hover-icon .c-button__icon,
.c-button_hover-icon:hover .c-button_hover_icon {
  margin-left: 0;
  margin-right: 0;
}

.c-button .c-button_hover_icon {
  display: none;
}

.c-button:hover .c-button_hover_icon {
  display: inline-block;
}

.c-button:not(.u-pull-right):first-child {
  margin-left: 0;
}

.c-button:not(.u-pull-right):last-child {
  margin-right: 0;
}

.c-button:hover,
.c-button:focus {
  background: shade($brand-primary, 4);
  color: #fff;
  outline: 0;
  text-decoration: none;
}

.c-button:active {
  background: tint($brand-primary, 3);
}

.c-button.is-loading {
  position: relative;
  cursor: default;
}

.c-button.is-loading:hover,
.c-button.is-loading:focus {
  background: $brand-primary;
}

.c-button_inline-circle {
  margin-bottom: $c-button-height-regular * -1;
  width: $c-button-height-regular;
  border-radius: 50px;
  border: none !important;
  margin-top: -2px; 
}
/**
 * Tiny button
 */
 .c-button_tiny {
  min-width: 0;
  padding-right: $c-button-padding-tiny;
  padding-left: $c-button-padding-tiny;
  font-size: $font-size-medium;
  line-height: $c-button-height-tiny;
}


/**
 * Small button
 */
.c-button_small {
  min-width: 0;
  padding-right: $c-button-padding-small;
  padding-left: $c-button-padding-small;
  font-size: $font-size-medium;
  line-height: $c-button-height-small;
}

.c-button_small.c-button_inline-circle {
  margin-bottom: ($c-button-height-small - $gutter-width-tiny) * -1;
  width: ($c-button-height-small - $gutter-width-tiny);
  height: ($c-button-height-small - $gutter-width-tiny);
  padding-right: $gutter-width-tiny;
  padding-left: $gutter-width-tiny;
}
/**
 * Large button
 */
.c-button_large {
  padding: 0 $c-button-padding-large;
  font-size: $font-size-large;
  font-weight: normal;
  line-height: $c-button-height-large;
}

.c-button_large.c-button_inline-circle {
  margin-bottom: $c-button-height-large * -1;
  width: $c-button-height-large;
}
/**
 * Secondary button
 */
.c-button_theme-secondary,
.c-button--secondary {
  background: $brand-secondary;
  color: $font-color;
  border: 1px solid shade($brand-secondary, 16);
}

.c-button_theme-secondary:hover,
.c-button--secondary:hover,
.c-button_theme-secondary:focus,
.c-button--secondary:focus {
  background: shade($brand-secondary, 2);
  color: $font-color;
}

.c-button_theme-secondary:active,
.c-button--secondary:active {
  background: shade($brand-secondary, 2);
}

.c-button_theme-secondary.c-button_large,
.c-button--secondary.c-button_large {
  // Keep the secondary button compact by using
  // regular padding
  padding: 0 $c-button-padding-regular;
}
.c-button_theme-secondary:disabled,
.c-button--secondary:disabled,
.c-button_theme-secondary[disabled],
.c-button--secondary[disabled],
.c-button_theme-secondary[disabled]:hover,
.c-button--secondary[disabled]:hover {
  opacity: 1;
  color: $font-color-disabled;
  stroke: $font-color-disabled;
}

/**
 * Warning button
 */
.c-button_theme-danger {
  background: $brand-danger;
  color: white;
  stroke: white;
  border: 1px solid shade($brand-danger, 12%);
}
.c-button_theme-danger .c-button__icon.c-button__icon {
  stroke: white;
}
.c-button_theme-danger:hover,
.c-button_theme-danger:focus {
  background: shade($brand-danger, 8%);
}
.c-button_theme-danger:active {
  background: tint($brand-danger, 3%);
}

/**
 * Info button
 */
.c-button_theme-info {
  background: $brand-info;
  border: 1px solid shade($brand-info, 12%);
}
.c-button_theme-info:hover,
.c-button_theme-info:focus {
  background: shade($brand-info, 8%);
}
.c-button_theme-info:active {
  background: tint($brand-info, 3%);
}

/**
* inverted button
*/
.c-button_theme-inverted {
  color: white;
  stroke: white;
  background: none;
  border: 1px solid white;
}
.c-button_theme-inverted:hover,
.c-button_theme-inverted:focus {
  color: white;
  background: none;
  border: 1px solid white;
}
.c-button_theme-inverted:active {
  background: none;
}

.c-button_appearance-link:hover,
.c-button_appearance-link:focus {
  outline: none;
  cursor: pointer;
}

/**
* Secondary link button
*/
.c-button_appearance-link.c-button_theme-secondary {
  color: $grey-darker;
  border: none;
}
.c-button_appearance-link.c-button_theme-secondary:hover,
.c-button_appearance-link.c-button_theme-secondary:focus {
  color: $grey-dark;
}

/**
 * Link button
 */
.c-button_appearance-link {
  background: transparent;
  font-weight: inherit;
  line-height: inherit;
  width: auto;
  min-width: auto;
  padding: 0;
  border: none;
  color: $font-color;
  margin: 0 $gutter-width-extra-small 0 0;  
}

.c-button_appearance-link.c-button_theme-inline:hover,
.c-button_appearance-link.c-button_theme-inline:active,
.c-button_appearance-link.c-button_theme-inline:focus {
  background: none;
}

.c-button_appearance-link.c-button_large {
  margin-right: $gutter-width-small;
}

.c-button_medium-rounded {
  border-radius: 50px;
  padding-left: $c-button-padding-regular;
  padding-right: $c-button-padding-regular;
}

.c-button_appearance-link:hover,
.c-button_appearance-link:focus {
  background: transparent;
  color: shade($brand-primary, 14%);
}

.c-button_appearance-link.c-button_theme-danger {
  color: $brand-danger;
}

.c-button_appearance-link.c-button_theme-danger:hover,
.c-button_appearance-link.c-button_theme-danger:focus {
  color: shade($brand-danger, 18%);
}

.c-button_appearance-link.c-button_theme-danger:active {
  color: tint($brand-danger, 3%);
}
.c-button_appearance-link .c-button__icon {
  float: initial;
}
/**
 * Loading button
 */
.c-button.is-loading > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -11px;
}

/**
 * Disabled button
 */
.c-button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.c-button[disabled]:hover,
.c-button[disabled]:focus {
  opacity: 0.5;
  cursor: not-allowed;
}

/**
* Theme: normal
*/
.c-button_theme-normal {
  color: $font-color;
  background: white;
	border: 1px solid $border-color-light;
}
.c-button_theme-normal:hover,
.c-button_theme-normal:focus,
.js-active .c-button_theme-normal {
  background: none;
  color: shade($font-color, 50%);
  border: 1px solid $border-color;
	background-color: $grey-extra-lightest;
	position: relative;
}
.c-button_theme-normal:active {
  color: $font-color;
  border: 1px solid $border-color;
	background-color: $grey-lightest;
}

.c-button_theme-normal.static,
.c-button_theme-normal.static:hover,
.c-button_theme-normal.static:active,
.c-button_theme-normal.static:focus {
  color: $font-color;
  background: white;
	border: 1px solid $border-color-light;
	cursor: default;
}

/**
* Theme: brand-ghost
*/
.c-button_theme-brand-ghost {
  color: $font-color;
  background: transparent;
	border: 1px solid transparent;
	box-shadow: none;
}

.c-button_theme-brand-ghost:hover,
.c-button_theme-brand-ghost:focus,
.js-active .c-button_theme-brand-ghost {
  background: none;
  color: $brand-primary;
  border: 1px solid transparent;
	background-color: transparent;
	position: relative;
}

.c-button_theme-brand-ghost:active {
	color: $brand-primary;
	border: 1px solid transparent;
	box-shadow: 
		inset 0 0 0 1px $brand-primary,
		$box-shadow-inset;
}
.c-button_theme-brand-ghost.js-active {
	color: $brand-primary;
	border: 1px solid transparent;
}
.c-button_theme-brand-ghost.static,
.c-button_theme-brand-ghost.static:hover,
.c-button_theme-brand-ghost.static:active,
.c-button_theme-brand-ghost.static:focus {
  color: $font-color;
  background: transparent;
	border: 1px solid $border-color-light;
	cursor: default;
}

// Theme: transparent
.c-button_theme-transparent {
	background: none;
	color: $brand-primary;
	border-color: transparent;
}
.c-button_theme-transparent:hover,
.c-button_theme-transparent:focus,
.js-active .c-button_theme-transparent {
  background: none;
  color: shade($font-color, 50%);
  border: 1px solid $border-color;
  background-color: $grey-extra-lightest;
}
.c-button_theme-transparent:active {
  color: $font-color;
  border: 1px solid $border-color;
  background-color: $grey-lightest;
}

// Modifier: wide
.c-button_wide {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.c-button_wide .c-button__icon {
  float: right;
  margin-top: $gutter-width-small;
  margin-bottom: $gutter-width-small;
}

.c-button_wide.c-button_small .c-button__icon {
  margin-top: $gutter-width-extra-small;
  margin-bottom: $gutter-width-extra-small;
}

.c-button_flex {
  flex: 1;
}

.c-button_approve.js-valid:not(.js-dirty) {
  line-height: 20px;
  background-color: white;
  border-color: $grey-light;
  stroke: $grey-light;
  color: $grey-light;
  margin-top: 2px;
}
.c-button_approve.js-valid:not(.js-dirty) .c-button__icon {
  stroke: $grey-light;
}

.c-button_approve.js-dirty {
  opacity: 1;
}

.c-button_approve.js-dirty:not(.c-button_theme-danger) {
  opacity: 0.5;
}

.c-button_approve.js-dirty:not(.c-button_theme-danger).js-valid {
  opacity: 1;
}

.c-button_flat,
.c-button_flat:hover,
.c-button_flat:active,
.c-button_flat:focus {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: 0;
}
