.c-button-group {
  display: inline-block;
  margin-bottom: $gutter-width-extra-small;
}

.c-button-group:not(:last-child):not(.u-pull-right) {
  margin-right: $gutter-width-small;
}

.c-button-group .c-button:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: 0;
  margin-right: -1px;
  // transform: translateX(1px);
}

.c-button-group .c-button:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
  // transform: translateX(1px);
}

.c-button-group .c-button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.c-button-group .c-tooltip.c-tooltip .c-button {
  border-radius: $border-radius-medium;
}

.c-button-group .c-tooltip:not(:first-child):not(:last-child) .c-button {
  border-radius: 0;
  margin-left: 0;
  margin-right: -1px;
}

.c-button-group .c-tooltip:first-child:not(:last-child) .c-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.c-button-group .c-tooltip:last-child:not(:first-child) .c-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.c-button-group:first-child .c-button {
  margin-right: 0;
}

.c-button-group:last-child .c-button {
  margin-left: 0;
}

.c-button-group_filter-submit.c-button-group_filter-submit {
  float: none;
  margin-left: $gutter-width-extra-small;
}
