// Don't want the arrow.
.c-context-menu .c-context-menu__contents:after,
.c-context-menu .c-context-menu__contents:before {
  display: none;
}
// Want it alligned with the mouse.
.c-context-menu .c-context-menu__contents {
  border: 1px solid #d4d4d4;
  box-shadow: none;
  border-radius: $border-radius-large;
  border-top-left-radius: 0;
  margin-top: 0;
}
.c-context-menu:not(.js-clickable) .c-context-menu__contents {
  transform: none;
}
.c-context-menu__header {
  display: block;
  overflow: hidden;
  padding: $context-menu-padding;
  border-bottom: 1px solid $border-color;
}

.c-context-menu__item {
  display: block;
  overflow: hidden;
  padding: $gutter-width-tiny - 2 $gutter-width-extra-small;
  color: $font-color;
}

.c-context-menu__item:first-child {
  margin-top: $gutter-width-extra-tiny;
}
.c-context-menu__item:last-child {
  margin-bottom: $gutter-width-extra-tiny;
}

.c-context-menu__item:not(.c-context-menu_no-action_item):hover,
.c-context-menu__item:not(.c-context-menu_no-action_item):active,
.c-context-menu__item:not(.c-context-menu_no-action_item):focus {
  cursor: pointer;
  outline: none;
  background-color: $background-color-hover;
}
.c-context-menu__item.js-active {
  cursor: default;
  box-shadow: none;
  background-color: $background-color-hover;
}

.c-context-menu__item .c-icon {
  fill: none;
  vertical-align: -1px;
  stroke: $font-color;
  margin-right: $gutter-width-tiny;
}

.c-context-menu__item a {
  color: $font-color;
}

.c-context-menu_input_item {
  padding: $gutter-width-extra-tiny - 1 $gutter-width-extra-tiny - 1;
}

.c-context-menu_input_item:hover {
  background-color: white;
}

.c-context-menu_button_item {
  padding: 0;
  margin-left: -1px;
  display: block;
}
.c-context-menu_button_item:last-child {
  margin-bottom: 0;
}
.c-context-menu_button_item .c-button.c-context-menu__button {
  border-radius: 0;
  text-align: left;
  width: calc(100% + 2px); // for the borders
  box-sizing: border-box;
  margin-bottom: 0;
}

.c-context-menu_submit_item:last-child .c-context-menu__button {
  padding-bottom: $gutter-width-extra-tiny;
  border-bottom-left-radius: $border-radius-large;
  border-bottom-right-radius: $border-radius-large;
}
.c-context-menu_submit_item:last-child .c-context-menu__button:active {
  padding-top: 0;
  vertical-align: 0;
}
.c-context-menu_inline_item {
  padding: 0;
}

.c-context-menu .c-context-menu__contents.c-context-menu_align-center_contents {
  border-top-left-radius: $border-radius-large;
}
.c-context-menu_divider_item {
  padding: 0;
}
