.c-icon {
  fill: none;
  display: inline-block;
  vertical-align: -2px;
	max-width: initial;
	stroke: currentColor;
}
.c-icon,
.c-icon svg {
  width: 16px;
  height: 16px;
}

.c-icon_filled-svg,
.c-icon_filled,
.c-icon_filled svg {
  stroke: none;
  fill: $grey-darkest;
}

.c-icon_size-tiny,
.c-icon_size-tiny-svg,
.c-icon_size-tiny svg,
.c-icon_size-small,
.c-icon_size-small-svg,
.c-icon_size-small svg {
  height: 12px;
  width: 12px;
	display: inline-block;
	vertical-align: 0;
}

.c-icon_size-full-svg,
.c-icon_size-full ,
.c-icon_size-full svg{
  height: 100%;
  width: 100%;
}
.c-icon_size-large, 
.c-icon_size-large svg{
  height: 20px;
  width: 20px;
}

.c-icon_size-extra-large, 
.c-icon_size-extra-large svg{
  height: 56px;
  width: 56px;
}

.c-icon_size-large-svg,
.c-icon_size-large svg,
.c-icon_size-large {
  width: 20px;
  height: 20px;
}

.c-icon_size-big-svg,
.c-icon_size-big svg,
.c-icon_size-big {
  width: 27px;
  height: 27px;
}

.c-icon_size-huge svg,
.c-icon_size-huge {
  width: 120px;
  height: 120px;
}

.c-icon_primary-svg,
.c-icon_inverted-svg {
  stroke: white;
}

.c-icon_inverted-filled-svg {
  stroke: none;
  fill: white;
}

.c-icon_filled-svg,
.c-icon_filled,
.c-icon_filled svg {
  stroke: none;
  fill: $grey-darkest;
}

.c-icon_centered-bubble {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.c-icon_centered-bubble-svg {
  stroke: white;
  background: $grey-light;
  border-radius: 50px;
  padding: $gutter-width-tiny;
  display: block;
}
.c-icon_color-legal {
  stroke: $brand-info;
}
.c-icon_color-denied {
  stroke: $brand-danger;
}
.c-icon_color-delete {
  stroke: $brand-warning;
}
.c-icon_color-approved {
  stroke: $brand-success;
}
.c-icon_rotate svg {
	transform: rotate(180deg);
}