.c-status-bar {
  width: 100px;
  background-color: $background-color;
  overflow: hidden;
  border-radius: $border-radius-large;
  height: 0.5em;
  margin-top: 0.5em;
  margin-right: $gutter-width-tiny;
}

.c-status-bar__completed {
  height: 100%;
  display: block;
  background-color: $brand-primary;
}
