.c-tag {
  display: inline-block;
  color: $brand-primary;
  background: tint($brand-primary, 90);
  margin-right: $gutter-width-extra-small;
  border-radius: 200px;
  box-sizing: border-box;
  font-size: $font-size-small;
  padding: 0 $gutter-width-tiny;
  text-transform: uppercase;
  vertical-align: top;
}

.c-tag:last-child {
  margin-right: 0;
}

.c-tag__body,
.c-tag__add-on {
  line-height: $base-line-height + $gutter-width-tiny - 2;
  padding: 0 $gutter-width-tiny;
}

.c-tag__icon {
  padding: $gutter-width-extra-tiny - 1 $gutter-width-extra-tiny
    $gutter-width-extra-tiny;
  vertical-align: -2px;
}

.c-tag__body:not(:first-child),
.c-tag__add-on:not(:first-child),
.c-tag__icon:not(:first-child) {
  border-left: 1px solid;
  border-color: $border-color;
}

.c-tag_theme-primary {
  background: $brand-primary;
}
.c-tag_theme-primary,
.c-tag_theme-primary .c-tag__body:not(.first-child),
.c-tag_theme-primary .c-tag__body,
.c-tag_theme-primary .c-tag__add-on:not(.first-child),
.c-tag_theme-primary .c-tag__icon,
.c-tag_theme-primary .c-tag__icon:not(.first-child),
.c-tag_theme-primary .c-tag__add-on {
  color: white;
  border-color: shade($brand-primary, 12%);
  transition: background-color 0.1s ease-out;
}

.c-tag_theme-secondary { 
  background: $brand-secondary;
}
.c-tag_theme-secondary,
.c-tag_theme-secondary .c-tag__body:not(.first-child),
.c-tag_theme-secondary .c-tag__body,
.c-tag_theme-secondary .c-tag__add-on:not(.first-child),
.c-tag_theme-secondary .c-tag__add-on .c-tag_theme-secondary .c-tag__icon,
.c-tag_theme-secondary .c-tag__icon:not(.first-child) {
  color: $font-color;
  border-color: $border-color;
}

.c-tag_theme-info {
  background: $brand-info;
}
.c-tag_theme-info,
.c-tag_theme-info .c-tag__body:not(.first-child),
.c-tag_theme-info .c-tag__body,
.c-tag_theme-info .c-tag__add-on:not(.first-child),
.c-tag_theme-info .c-tag__add-on,
.c-tag_theme-info .c-tag__icon,
.c-tag_theme-info .c-tag__icon:not(.first-child) {
  color: white;
  border-color: shade($brand-info, 12%);
  stroke: white;
}

.c-tag_theme-warning {
  background: $brand-warning;
}
.c-tag_theme-warning,
.c-tag_theme-warning .c-tag__body:not(.first-child),
.c-tag_theme-warning .c-tag__body,
.c-tag_theme-warning .c-tag__icon:not(.first-child),
.c-tag_theme-warning .c-tag__icon,
.c-tag_theme-warning .c-tag__add-on:not(.first-child),
.c-tag_theme-warning .c-tag__add-on {
  color: white;
  border-color: shade($brand-warning, 12%);
  stroke: white;
}

.c-tag_theme-danger {
  background: $brand-danger;
}
.c-tag_theme-danger,
.c-tag_theme-danger .c-tag__body:not(.first-child),
.c-tag_theme-danger .c-tag__body,
.c-tag_theme-danger .c-tag__icon:not(.first-child),
.c-tag_theme-danger .c-tag__icon,
.c-tag_theme-danger .c-tag__add-on:not(.first-child),
.c-tag_theme-danger .c-tag__add-on {
  color: white;
  border-color: shade($brand-danger, 12%);
  stroke: white;
}

.c-tag_theme-success {
  background: $brand-success;
}
.c-tag_theme-success,
.c-tag_theme-success .c-tag__body:not(.first-child),
.c-tag_theme-success .c-tag__body,
.c-tag_theme-success .c-tag__icon:not(.first-child),
.c-tag_theme-success .c-tag__icon,
.c-tag_theme-success .c-tag__add-on:not(.first-child),
.c-tag_theme-success .c-tag__add-on {
  color: white;
  border-color: shade($brand-success, 12%);
  stroke: white;
}

.c-tag_menu-badge {
  height: 20px;
  width: 23px;
  border-radius: 10px;
  text-align: center;
}

.c-tag_menu-badge .c-tag__body {
  display: none;
}

.c-tag_menu-badge .c-tag__icon {
  padding: 0px;
  position: relative;
  top: -2px;
}

// Sizes
.c-tag_size-small {
  font-size: $font-size-tiny;
  font-weight: 600; // On non-retina screens not bolded text is little bit too less visible
}
.c-tag_size-small:first-child {
  margin-left: $gutter-width-tiny;
}
.c-tag_size-small .c-tag__body {
  padding: 0 $gutter-width-tiny;
  line-height: 20px;
}
.c-tag_size-small .c-tag__icon {
  padding: 2px $gutter-width-tiny;
}
