
.c-tag-group {
  display: inline-block;
  margin-bottom: $gutter-width-extra-small;
}

.c-tag-group:not(:last-child):not(.u-pull-right) {
  margin-right: $gutter-width-small;
}

.c-tag-group .c-tag:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: 0;
  margin-right: -1px;
  transform: translateX(1px);
}

.c-tag-group .c-tag:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
  transform: translateX(1px);
}

.c-tag-group .c-tag:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.c-tag-group .c-tooltip.c-tooltip .c-tag {
  border-radius: $border-radius-medium;
}

.c-tag-group .c-tooltip:not(:first-child):not(:last-child) .c-tag {
  border-radius: 0;
  margin-left: 0;
  margin-right: -1px;
}

.c-tag-group .c-tooltip:first-child:not(:last-child) .c-tag {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.c-tag-group .c-tooltip:last-child:not(:first-child) .c-tag {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.c-tag-group:first-child .c-tag {
  margin-right: 0;
}

.c-tag-group:last-child .c-tag {
  margin-left: 0;
}

.c-tag-group_filter-submit.c-tag-group_filter-submit {
  float: none;
  margin-left: $gutter-width-extra-small;
}
.c-tag-group .c-tag:not(:first-child) {
  border-left: none;
}