$max-width-tooltip: 600px;
$max-height-tooltip: 600px;
$tooltip-arrow-margin: 5px;
$tooltip-inverse-background-color: $grey-darkest;
/**
 * Tooltip wrapper
 */
.c-tooltip {
  z-index: z(base);
  display: inline-block;
}
.c-tooltip_inline {
  display: inline-block;
}
/**
 * Tooltip
 */
.c-tooltip__contents {
  position: fixed;
  display: inline-block;
  padding: $gutter-width-extra-small $gutter-width-small;
  border-radius: $border-radius-medium;
  background: #ffffff;
  fill: #000000;
  box-shadow: $card-shadow;
  color: $font-color;
  z-index: z(tooltip);
  font-size: 12px;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  max-width: $max-width-tooltip;
  max-height: $max-height-tooltip;
  margin-top: $tooltip-arrow-margin;
}
.c-tooltip__contents img,
.c-tooltip__contents canvas {
  max-width: $max-width-tooltip - ($gutter-width-extra-small * 2);
  max-height: $max-height-tooltip - ($gutter-width-small * 2);
}
.c-tooltip__contents[aria-hidden='true'] {
  position: fixed;
  left: -999em !important;
  right: 998em !important;
  top: -999px !important;
}

.c-tooltip_align-left .c-tooltip__contents {
  left: 0;
  margin-left: 0;
  transform: translateX(-15px);
}

.c-tooltip_small .c-tooltip__contents {
  padding: $gutter-width-extra-tiny $gutter-width-tiny;
  line-height: normal;
}

.c-tooltip_no-padding > .c-tooltip__contents {
  padding: 0px;
  line-height: normal;
}

/**
 * Arrow
 */
.c-tooltip__contents::after,
.c-tooltip__contents::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: transparent;
  border-width: 0 $tooltip-arrow-margin 2px;
  border-style: solid;
  border-bottom-color: #ffffff;
  transform: translateX(-50%);
}
.c-tooltip__contents::before {
  border-width: 0 $tooltip-arrow-margin 4px;
  border-style: solid;
  border-bottom-color: $border-color;
}
.c-tooltip_align-center-bottom.c-tooltip_align-center-bottom
  .c-tooltip_align-center
  .c-tooltip__contents::after,
.c-tooltip_align-center-bottom.c-tooltip_align-center-bottom
  .c-tooltip_align-center
  .c-tooltip__contents::before {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
}

.c-tooltip_align-left .c-tooltip__contents::after,
.c-tooltip_align-left .c-tooltip__contents::before {
  left: 15px;
  transform: none;
}
.c-tooltip_align-right .c-tooltip__contents {
  transform: none;
}
.c-tooltip_align-right .c-tooltip__contents::after,
.c-tooltip_align-right .c-tooltip__contents::before {
  border: $tooltip-arrow-margin solid;
  left: auto;
  right: 15px;
  transform: translateX(-100%) translateY(50%);
  bottom: 50%;
  left: 0;
  right: initial;
  border-right-color: $border-color;
}

/**
 * Tooltip content children
 */
.c-tooltip__contents p:last-child {
  margin-bottom: 0;
}

.c-tooltip_big .c-tooltip__contents {
  padding: 30px;
  width: 400px;
}

.c-tooltip_location-right-bottom .c-tooltip__contents {
  position: absolute;
  margin-left: 10px;
}

.c-tooltip_location-right-bottom .c-tooltip__contents::after,
.c-tooltip_location-right-bottom .c-tooltip__contents::before {
  display: none;
}

.c-tooltip_align-center-bottom .c-tooltip__contents::after,
.c-tooltip_align-center-bottom .c-tooltip__contents::before {
  top: 100%;
  left: 50%;
  border-width: 0 5px 2px;
  transform: translateX(-50%) rotate(180deg);
}
.c-tooltip_align-center-bottom .c-tooltip__contents::before {
  border-width: 0 5px 4px;
  border-style: solid;
  border-bottom-color: $border-color;
}

.c-tooltip_inverse .c-tooltip__contents {
  box-shadow: none;
  background: $tooltip-inverse-background-color;
  color: #fff;
  fill: #fff;
  border: 1px solid $border-color-darkest;
}

.c-tooltip_inverse .c-tooltip__contents::after,
.c-tooltip_inverse .c-tooltip__contents::after {
  border-bottom-color: $tooltip-inverse-background-color;
}
.c-tooltip_inverse.c-tooltip_align-right .c-tooltip__contents::after,
.c-tooltip_inverse.c-tooltip_align-right .c-tooltip__contents::before {
  border-color: transparent;
  border-right-color: $tooltip-inverse-background-color;
}

.c-tooltip_inverse.c-tooltip_align-right .c-tooltip__contents::before {
  border-color: transparent;
  border-right-color: $border-color-darkest;
}
.c-tooltip_inverse.c-tooltip_align-right .c-tooltip__contents::after {
  left: 2px;
}
