.c-flex {
  padding: 0;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
}

.c-flex_align-flex-start {
  align-items: flex-start;
}
.c-flex_align-flex-start .c-flex__cell{
  vertical-align: top;
}
.c-flex__cell {
  white-space: initial;
  flex: 1;
  padding-left: $gutter-width-small;
  padding-right: $gutter-width-small;
  text-overflow: ellipsis;
  box-sizing: border-box;
  word-wrap: break-word;
}

.c-flex_size-small .c-flex__cell {
  padding-left: $gutter-width-tiny;
  padding-right: $gutter-width-tiny;
}

.c-flex_size-large > .c-flex__cell {
  padding-left: $gutter-width-large;
  padding-right: $gutter-width-large;
}

.c-flex__not-shrink_cell {
  flex-shrink: 0;
}

.c-flex__cell:first-child {
  padding-left: 0;
}

.c-flex__cell:last-child {
  padding-right: 0;
}

.c-flex__width-3_cell {
  flex: 3;
}

.c-flex__width-2_cell {
  flex: 2;
}

.c-flex__width-4_cell {
  flex: 4;
}

.c-flex__width-5_cell {
  flex: 5;
}

.c-flex__width-6_cell {
  flex: 6;
}

.c-flex_row {
  flex-direction: row;
}

.c-flex_centered-row {
	flex-direction: row;
	height: 100%;
	white-space: inherit;
}

.c-flex_column {
  flex-direction: column;
}

.c-flex_row-reversed {
  flex-direction: row-reverse;
}

.c-flex_stretch {
  align-items: stretch;
}

.c-flex_horizontal-separated {
	align-items: stretch;
	flex-grow: 1;
}
.c-flex_horizontal-separated .c-flex__cell {
	border-right: 1px solid $border-color-light;
}
.c-flex_horizontal-separated .c-flex__cell:last-child {
	border-right: 0;
}
.c-flex_row-reversed .c-flex__cell {
  padding-left: $gutter-width-small;
  padding-right: $gutter-width-small;
}

.c-flex_row-reversed .c-flex__cell:last-child {
  padding-left: 0;
}

.c-flex_row-reversed .c-flex__cell:first-child {
  padding-right: 0;
}

.c-flex__not-grow_cell {
  flex-grow: 0;
}

.c-flex_wrap {
  flex-wrap: wrap;
}

.c-flex_no-margin_cell {
  margin: 0;
}

.c-flex__justify-center_cell {
  display: flex;
	justify-content: center;
	height: 100%;
}

.c-flex_no-padding > .c-flex__cell {
  padding: 0 !important;
}

.c-flex_block {  
  display: block;
  white-space: inherit;
}
.c-flex__width-3-1_cell,
.c-flex__width-3-2_cell,
.c-flex__width-2-1_cell {
  display: flex;
  flex: initial;
  display: inline-block;
}

.c-flex__width-3-1_cell,
.c-flex__width-3-1_cell:first-child,
.c-flex__width-3-1_cell:last-child {
  width: 33.333%;
}

.c-flex__width-2-1_cell,
.c-flex__width-2-1_cell:first-child,
.c-flex__width-2-1_cell:last-child {
  width: 50%;
}

.c-flex__width-3-1_cell:nth-child(3n),
.c-flex__width-2-1_cell:nth-child(2n) {
  padding-right: 0;
}

.c-flex__width-3-1_cell:nth-child(3n+1),
.c-flex__width-2-1_cell:nth-child(2n+1) {
  padding-left: 0;
}

// Collapse converts from the above determined width to this at the media query specified.
@media only screen and (max-width: $breakpoint-small) {
  .c-flex_collapse-small-2 > .c-flex__cell {
    flex: 50%;
  }
  .c-flex_collapse-small-2 > .c-flex__cell:nth-child(2) {
    padding-right: 0;
    padding-left: $gutter-width-small;
  }
  .c-flex_collapse-small-2 > .c-flex__cell:nth-child(2n + 1) {
    padding-right: $gutter-width-small;
    padding-left: 0;
  }
  .c-flex_collapse-small-2 > .c-flex__cell:last-child {
    padding-right: 0;
	}
	.c-flex_collapse-small-2.c-flex_horizontal-separated > .c-flex__cell {
		border: 0;
	}
}

@media only screen and (max-width: $breakpoint-medium) {
  .c-flex_collapse-medium-2 {
    flex-wrap: wrap;
  }
  .c-flex_collapse-medium-2 > .c-flex__cell {
    flex: 50%;
  }
  .c-flex_collapse-medium-2 > .c-flex__cell:nth-child(2) {
    padding-right: 0;
    padding-left: $gutter-width-small;
  }
  .c-flex_collapse-medium-2 > .c-flex__cell:nth-child(2n + 1) {
    padding-right: $gutter-width-small;
    padding-left: 0;
  }
  .c-flex_collapse-medium-2 > .c-flex__cell:last-child {
    padding-right: 0;
	}
	.c-flex_collapse-medium-2.c-flex_horizontal-separated > .c-flex__cell {
		border: 0;
	}
}

@media only screen and (max-width: $breakpoint-small) {
  .c-flex_collapse-small-1 {
    flex-wrap: wrap;
  }
  .c-flex_collapse-small-1 > .c-flex__cell {
    flex: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .c-flex__width-3-1_cell, 
  .c-flex__width-3-2_cell,
  .c-flex__width-2-1_cell {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
	}
	.c-flex_collapse-small-1.c-flex_horizontal-separated > .c-flex__cell {
		border: 0;
	}
}

@media only screen and (max-width: $breakpoint-medium) {
  .c-flex_collapse-medium-1 {
    flex-wrap: wrap;
  }
  .c-flex_collapse-medium-1 > .c-flex__cell {
    flex: 100%;
    padding-right: 0;
    padding-left: 0;
	}
	
	.c-flex_collapse-medium-1.c-flex_horizontal-separated > .c-flex__cell {
		border: 0;
	}
}
@media only screen and (max-width: $breakpoint-large) {
  .c-flex_collapse-large-1 {
    flex-wrap: wrap;
  }
  .c-flex_collapse-large-1 > .c-flex__cell {
    flex: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
	}
	.c-flex_collapse-large-1.c-flex_horizontal-separated > .c-flex__cell {
		border: 0;
	}
}